@import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Lekton:wght@400;700&display=swap");

body {
  width: 1280px;
  height: 720px;

  background: #effbff;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;

  justify-content: center;
  margin-left: 130px;
}

.title {
  margin-right: 20px;

  color: #006889;
  text-align: right;
  font-family: "Kodchasan", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subtitle {
  color: #000;
  font-family: "Lekton", sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.game-box {
  width: 1182px;
  height: 535px;
  flex-shrink: 0;

  border-radius: 30px;
  background: #9eabb0;
}

.cookie-stacks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  height: 400px;
}

.cookie-img {
  display: flex;
  width: 214px;
  height: auto;
  padding: 0;
  margin: 0;
  transition: filter 3s, -webkit-filter 3s;
}

.invert-selected {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.gone {
  opacity: 0;
}

.turn-button {
  display: flex;
  width: 185px;
  height: 45px;
  padding: 9px 42px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  border-radius: 10px;
  border: 1px solid #006889;
  background: #effbff;

  color: #006889;
  font-family: "Lekton", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.game-box {
  width: 1182px;
  height: 535px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #9eabb0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  margin-bottom: 10px;
}

.dropdown-menu {
  list-style-type: none;
  position: absolute;
  top: 80px;
  left: 60px;
  width: 100px;
  padding: 15px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid #006889;
  cursor: default;
}

.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -0.7rem;
  right: 1.1rem;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: white;
  border-left: 1px solid #006889;
  border-top: 1px solid #006889;
}
.profile {
  display: flex;
  flex-direction: column;
  gap: 4px;

  color: #006889;
  font-family: "Lekton", sans-serif;
  font-size: 10px;
  font-style: italic;
  font-weight: 200;
  line-height: normal;

  cursor: pointer;
  margin-left: 210px;
  align-content: center;
}

.profile img {
  width: 50px;
  height: 50px;
  border: 1px solid #006889;
  border-radius: 50%;
  margin-left: 10px;
}

.log-button {
  margin-top: 20px;
  padding: 3px 10px;
  border-radius: 10px;
  border: 1px solid #006889;
  background: #effbff;

  color: #006889;
  font-family: "Lekton", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.spin-box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 10px;
  height: 10px;
}

.show-button {
  cursor: pointer;
  user-select: none;
}
