@import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Lekton:wght@400;700&display=swap");

body {
  width: 1280px;
  height: 720px;
  background: #effbff;
  zoom: 128%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 200px;
}

.title {
  margin-right: 20px;
  color: #006889;
  text-align: right;
  font-family: "Kodchasan", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subtitle {
  color: #000;
  font-family: "Lekton", sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin-right: 270px;
}

.game-box {
  width: 1182px;
  height: 535px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #9eabb0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cookie-stacks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  height: 400px;
}

.cookie-img {
  display: flex;
  width: 214px;
  height: auto;
  padding: 0;
  margin: 0;
  transition: filter 3s, -webkit-filter 3s;
}

.invert-selected {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.gone {
  opacity: 0;
}

.turn-button {
  display: flex;
  width: 185px;
  height: 45px;
  padding: 9px 42px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #006889;
  background: #effbff;
  color: #006889;
  font-family: "Lekton", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
  cursor: pointer;
}

li {
  margin-bottom: 10px;
  font-size: 15px;
}

.dropdown-menu {
  list-style-type: none;
  position: absolute;
  top: 100%; /* Position it below the profile container */
  left: 12; /* Align to the left of the profile container */
  width: 100px;
  padding: 15px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid #006889;
  cursor: default;
  z-index: 1;
}

.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -0.7rem;
  left: 5.1rem; /* Adjusted to match new position */
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: white;
  border-left: 1px solid #006889;
  border-top: 1px solid #006889;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: #006889;
  font-family: "Lekton", sans-serif;
  font-size: 8px;
  font-style: italic;
  font-weight: 200;
  line-height: normal;
  cursor: pointer;
  position: relative; /* Added this line */
}

.profile img {
  width: 30px;
  height: 30px;
  border: 1px solid #006889;
  border-radius: 50%;
  margin-left: 10px;
}

.log-button {
  margin-top: 20px;
  padding: 3px 10px;
  border-radius: 10px;
  border: 1px solid #006889;
  background: #effbff;
  color: #006889;
  font-family: "Lekton", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.spin-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
}

.show-button {
  cursor: pointer;
  user-select: none;
}

.winner-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  color: #fff;
  font-family: "Kodchasan", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 1;
}

.show-button {
  cursor: pointer;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1000px;

  border: #006889 1px solid;
  border-radius: 10px;
  background: #006889;
  color: #effbff;

  font-family: "Lekton", sans-serif;
  padding: 6px 24px;
}

.suggestion-box {
  color: #000;
  font-family: "Lekton", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  position: absolute;
  bottom: 10px;
  cursor: default;
  user-select: none;
}
